<hr class="post-loop">

{{#foreach posts}}
<div class="post-stub">
	<div>
		<div class="post-stub-content">
			<time datetime="{{published_at}}">{{date format="DD-MMM-YYYY"}}</time>
			<h4>{{title}}</h4>
			<p>{{excerpt characters="180"}}</p>
			<a class="js-ajax-link" title="{{title}} | {{@blog.title}}" href="{{url}}">Continue Reading</a>
		</div>{{#foreach tags}}{{#if @first}}
		<div style="background-image: url('{{image}}');" class="post-stub-tag-img">
		    <a href="{{url}}">&nbsp;</a>
		</div>{{/if}}{{/foreach}}
	</div>
</div>

<hr class="post-loop">
{{/foreach}}