<div style="width: auto; height: 50px; overflow: auto;">&nbsp;</div>

<hr class="post-loop">

{{#foreach posts}}

<div class="post-stub">
	<a class="js-ajax-link" title="{{title}} | {{@blog.title}}" href="{{url}}">
		<div class="post-stub-date-container">
			<div>
				<time class="post-stub-day" datetime="{{published_at}}">{{date format="DD"}}</time>
				<time class="post-stub-mm-yyyy" datetime="{{published_at}}">{{date format="MMM"}}</time>
				<time class="post-stub-mm-yyyy" datetime="{{published_at}}">{{date format="YYYY"}}</time>
			</div>
		</div>
		<div class="post-stub-content">
				<h4>{{title}}</h4>
			<p>{{excerpt characters="180"}}</p>
		</div>
		<div style="width: 3px; background-color: 0000FF; float: right"></div>
	<div style="clear:both;"></div>
	</a>
</div>

<hr class="post-loop">
{{/foreach}}