{{#foreach posts}}
{{#if @first}}
{{#if image}}
<div id="title-container" class="title-container">
  <img src="{{image}}">
</div>
{{else}}
{{#has tag="Ansible"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-ansible.png"}}">
</div>
{{else}}
{{#has tag="Debian"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-debian.png"}}">
</div>
{{else}}
{{#has tag="RHEL"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-rhel.png"}}">
</div>
{{else}}
{{#has tag="Linux"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-linux.png"}}">
</div>
{{else}}
{{#has tag="Algorithms"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-algorithm.png"}}">
</div>
{{else}}
{{#has tag="Scripting"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-script.png"}}">
</div>
{{else}}
{{#has tag="Security"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-security.png"}}">
</div>
{{else}}
{{#has tag="Projects"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-project.png"}}">
</div>
{{else}}
{{#has tag="Photos"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-photo.png"}}">
</div>
{{else}}
{{#has tag="Blog"}}
<div id="title-container" class="title-container">
	<img src="{{asset "images/masthead-blog.png"}}">
</div>
{{else}}
<div style="width: auto; height: 48px; overflow: auto;">&nbsp;</div>
{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}{{/has}}
{{/if}}
{{/if}}
{{/foreach}}