<article class="{{post_class}}">

	<div class="post-header">
		<h1 class="post-title">{{title}}</h1>
		<p class="post-information"><time datetime="{{published_at}}" id="postdate">{{date published_at format="DD.MMM.YYYY"}}</time>
		in #{{#foreach tags}}{{#if @first}}<a href="{{url}}">{{name}}</a>{{/if}}{{/foreach}}</p>
	</div>

	<div class="post-content clearfix">
		{{{content}}}
	</div>

</article>

<div id="spriteButtonRSS"><a id="linkedin-share-button-tail"></a></div>
<div id="spriteButtonGooglePlus"><a id="google-share-button-tail"></a></div>
<div id="spriteButtonTwitter"><a id="twitter-share-button-tail"></a></div>
<div id="spriteButtonFacebook"><a id="facebook-share-button-tail"></a></div>

{{#if tags}}
<span style="float: left;" class="post-tags">Tags: {{tags}}</span>
{{/if}}
